@font-face {
    font-family: 'ELAND_Choice_M';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/ELAND_Choice_M.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body,
p {
    margin: 0;
    padding: 0;
    font-family: 'ELAND_Choice_M';
}

a {
    text-decoration: none;
}

input {
    outline: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    color: black;
}


.review_header {
    width: 100%;
    background-color: white;
    height: 12vmin;
    position: fixed;
    top: 0;
    padding: 0;
    margin: 0;
    z-index: 999;
    line-height: 12vmin;
    font-size: 4.5vmin;
    font-weight: bold;
    text-align: center;
    display: flex;
}

.review_header a {
    display: block;
    height: 100%;
    font-size: 6vmin;
    position: absolute;
}

.review_header ion-icon {
    font-size: 6vmin;
    position: absolute;
    top: 50%;
    left: 2vmin;
    transform: translateY(-50%);
}

.review_header p {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
section{
    width: 90%;
    margin: auto;
    text-align:center ;
}

.profile_wrap {
    margin-top: 15vmin;
    display: flex;

}

.profile_wrap button {
    width: 30vmin;
    margin: auto;
    padding: 2.5vmin 0;
    background-color: white;
    border: none;
    outline: none;
    border-radius: 2vmin;
    box-shadow: 1px 3px 5px 1px rgba(75,75,75, 0.3);
}

.profile_wrap button.on{
    background-color: #6c80f1;

}
.profile_wrap button.on p{
    color: white;
}
.profile_wrap button div{
    margin: auto;
}

.profile_wrap button div p{
    font-size: 3.5vmin;
    font-weight: bold;
}
.profile_wrap button .profile_img_wrap{
    width: 23vmin;
    height: 23vmin;
    border-radius: 2vmin;
    overflow: hidden;
    margin: 2vmin auto;
}
.profile_img_wrap img{
    width: 100%;
    height: 100%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
}


.review_wrap{
    /* display: inline-flex; */
    width: 100%;
    margin: 2vmin auto;
    text-align: center;
}

.review_wrap input{
    display: inline-block;
    font-size: 3.5vmin;
    margin: 1vmin 4vmin;
    height: 7vmin;
    line-height: 7vmin;
    width: 40%;
    border-radius: 2vmin;
    background-color: white;
}

.review_wrap .re1{
    border:1px solid #FF9A9A;
}
.review_wrap .re1.on{
    background-color:  #FF9A9A;
    color: white;
}

.review_wrap .re2{
    border:1px solid #F3F084;
}
.review_wrap .re2.on{
    background-color:  #F3F084;
    color: white;
}

.review_wrap .re3{
    border:1px solid #B6DBB4;
}
.review_wrap .re3.on{
    background-color:  #B6DBB4;
    color: white;
}


.review_wrap .re4{
    border:1px solid #F9CFAE;
}
.review_wrap .re4.on{
    background-color:  #F9CFAE;
    color: white;
}


.con_wrap{
    width: 90%;
    height: 80vmin;
    margin: auto;
}

.con_wrap textarea{
    width: 95%;
    height: 100%;
    margin: auto;
    padding: 2vmin;
    font-size: 4vmin;
    border-radius: 3vmin;
    border:1px solid #999;
    outline-color: #6c80f1;
    white-space: pre-wrap;
    resize: none;
}

input[type=submit]{
    width: 90%;
    border:none;
    background-color: #6c80f1;
    color: white;
    padding: 1.5vmin 0;
    margin-top: 7vmin;
    border-radius: 2vmin;
    font-size: 3.5vmin;


}
